---
layout: default
---

<div class="jumbotron">
  <p> This 2-unit course aims to teach some essential skills for all Computer
  Scientists that you'll use throughout your classes, into industry and beyond.
  The class approaches the Unix Command Line Interface (CLI) as a primary tool
  for computing, and covers techniques that turn the CLI into a powerful,
  flexible and extensible toolkit, adding useful historical context along the
  way. </p>
</div>

<div class="alert alert-info">
  <h3 style="margin-top: 0px; font-weight: bold;">Updates</h3>

  {% comment %} Do math on unix timstamps to process in liquid {% endcomment %}
  {% assign onemonthago = 'now' | date: '%s' | minus: 2592000 %}
  {% for update in site.updates %}
    {% if update.categories contains 'su17' %}
      {% comment %} No int filter, use benign math to coerce from string {% endcomment %}
      {% assign update_date = update.date | date: '%s' | times: 1 %}
      {% if update_date > onemonthago %}
        {{ update.output }}
      {% endif %}
    {% endif %}
  {% endfor %}

  <p><a onclick='$("#old-updates").show(); $(this).hide()'>[+] Show older updates</a></p>

  <div id="old-updates" style="display: none">

    {% for update in site.updates %}
      {% if update.categories contains 'su17' %}
        {% comment %} No int filter, use benign math to coerce from string {% endcomment %}
        {% assign update_date = update.date | date: '%s' | times: 1 %}
        {% if update_date <= onemonthago %}
          {{ update.output }}
        {% endif %}
      {% endif %}
    {% endfor %}

  </div><!-- old-updates -->
</div>

<hr />

{% assign anchor_text="Course Pre-Requisites" %}
{% assign anchor_name="prereqs" %}
{% assign anchor_html_entity="h2" %}
{% include anchor.html %}
<p>Previous experience with the command line is not required. Indeed, if you feel
comfortable on the command line, this is not the class for you!</p>
<p>We encourage students to have taken at least 1 other CS course (typically 8
or 11) prior to 80 as knowledge of introductory programming and computer
terminology is expected.</p>


{% assign anchor_text="Syllabus &amp; Essential Info" %}
{% assign anchor_name="syllabus" %}
{% include anchor.html %}

{% assign anchor_text="Course Staff" %}
{% assign anchor_name="staff" %}
{% assign anchor_html_entity="h3" %}
{% include anchor.html %}
<p>
For any issues, e-mail the course staff at the emails listed below.
</p>
<div class="table-responsive">
  <table class="table staff-table">
    <tr>
      <td><img src="/static/img/jdeblasio.jpg"  alt="Joe DeBlasio"></td>
      <td><img src="/static/img/dkohlbre.png"  alt="David Kohlbrenner" /></td>
      <td><img src="/static/img/scauligi.jpg"  alt="Sunjay Cauligi"   /></td>
    </tr>
    <tr>
      <td>Joe DeBlasio</td>
      <td>David Kohlbrenner</td>
      <td>Sunjay Cauligi</td>
    </tr>
    <tr>
      <td colspan="3">(jdeblasio or dkohlbre or scauligi)@cs.ucsd.edu</td>
    </tr>
  </table>
</div>

{% assign anchor_text="Course Resources" %}
{% assign anchor_name="resources" %}
{% include anchor.html %}
<h4>Course Q&amp;A / Forum &ndash; <a href="https://piazza.com/ucsd/summer2017/cse80" target="_blank">Piazza</a></h4>
<!--
<h4>Assignment Submission &amp; Grades &ndash; <a
        href="https://gradescope.com/courses/5574" target="_blank">Gradescope</a></h4>
<ul><li>Gradescope entry code: <code>MX54N9</code></li></ul>
-->
<!--
<p>For most questions, please use <a href="https://piazza.com/class/ij1jghks3dr59n" target="_blank">piazza</a>
so that all students may benefit from the question and answer. To reach the course staff, please e-mail
<a href="mailto:c4cs-staff@umich.edu">c4cs-staff@umich.edu</a>.
-->

{% assign anchor_text="Course Meeting Times and Locations" %}
{% assign anchor_name="times" %}
{% include anchor.html %}
<dl class="dl-horizontal">
  <dt>Lecture</dt>
  <dd>CSE B220, Mon/Wed 10:00AM &mdash; 12:00PM</dd>
  <dt>Lab (optional)</dt>
  <dd>CSE B220, Mon/Wed 12:00PM &mdash; 1:50PM</dd>
  <dt>Office Hours (w/ D&amp;J)</dt>
  <dd>CSE 3140, Tue 10:00AM &mdash; 11:00PM, or by appointment</dd>
  <dt>Office Hours (w/ S)</dt>
  <dd>CSE 3144, Tue 2:00PM &mdash; 3:00PM, Fri 10:00AM &mdash; 12:00PM</dd>
</dl>
<p>The class will take the form of intermixed lectures and
terminal-based interactive exercises. This is a 2-unit course, and will meet
for approximately two hours, twice a week. Lab time is available
to work on assignments and get additional help from the instructors.</p>

<p>You will need to ssh into the course server (cse80.sysnet.ucsd.edu)
for all assignments. The ssh command from a terminal on Linux or Mac
is "ssh username@hostname" For example: "ssh
student@cse80.sysnet.ucsd.edu" is the command we use to log into the
test student account.</p>

<!--
<div id='calendar-loading'>Loading calendar...</div>
<div id='calendar'></div>
<a href="https://calendar.google.com/calendar/embed?src=4a0vvtkg11f6g0qs2er37gkkf8%40group.calendar.google.com&ctz=America/New_York" class="pull-right" target="_blank">Google Calendar link</a>
-->

{% assign anchor_text="Schedule" %}
{% assign anchor_name="schedule" %}
{% assign anchor_html_entity="h3" %}
{% include anchor.html %}
<div class="alert alert-warning">
  <span class="glyphicon glyphicon-warning-sign"></span>
  The syllabus is subject to change in response to
  feedback and class needs throughout the term.
</div>
<div class="table-responsive">
  <table class="table">
    <tr>
      <th style="min-width: 190px;" colspan="2"></th>
      <th style="min-width: 300px;">Topic</th>
      <th style="min-width: 400px;">Additional Materials</th>
    </tr>
    {% for week in site.syllabus %}
      {% if week.categories contains 'su17' %}
        {{ week.output }}
      {% endif %}
    {% endfor %}
  </table>
</div><!-- table-responsive -->

<!--
<p>Some suggestions for special topics lectures:</p>
<ul>
	<li>cron jobs</li>
	<li>Python, Perl, &lt;insert pet scripting language here&gt;, ...</li>
	<li>Personal Security / Integrity - disk encryption, pgp, etc</li>
	<li>Packaging (how to get your program into apt-get repositories)</li>
	<li>Internet basics (routing, AS's, DNS, UDP, TCP, etc etc)</li>
	<li>Internet tools, (nc, dig, nslookup, whois, etc)</li>
	<li>LaTeX</li>
	<li>Postscript</li>
</ul>
-->

{% assign anchor_text="Attendance, Grading, and Homework" %}
{% assign anchor_name="grading" %}
{% assign anchor_html_entity="h2" %}
{% include anchor.html %}
<p>
This course is graded on a credit/no credit basis.  You will earn points based
on in-class quizzes (50%), homework (20%), and exams (30%).  Attendance will
not be taken, but it will be very difficult to complete in-class quizzes if you
are not present.
</p>

{% assign anchor_text="Regrading" %}
{% assign anchor_name="regrading" %}
{% assign anchor_html_entity="h3" %}
{% include anchor.html %}
<p>
Regrade requests for automated assignments will only result in a grade
change if a bug is found and fixed in the automated assignment.
</p>
<p>
Regrade requests for free text questions on assignments will result in
the entire assignment being regraded, and the entire new grade will be
kept permanently.
</p>


{% assign anchor_text="In-class Quizzes (50%)" %}
{% assign anchor_name="syllabus-attendance" %}
{% assign anchor_html_entity="h3" %}
{% include anchor.html %}

<p>
Lectures will include short quizzes and exercises (no more than 5 minutes each) used to verify
comprehension and to give hands-on experience. We reserve the right to
experiment with this mechanism a bit throughout the semester and vary
when and how we ask questions.
</p>

<p>
If extenuating circumstances cause you to miss class, please
contact us (preferably in advance) and we can work something out.
</p>

{% assign anchor_text="Homework (20%)" %}
{% assign anchor_name="syllabus-homework" %}
{% assign anchor_html_entity="h3" %}
{% include anchor.html %}

<p>Late assignments will not be accepted.
Please contact us before the assignment deadline if there are extenuating circumstances.</p>

<p>This is a 2&nbsp;credit course and the quizzes and homeworks are designed to be
commensurate with that. Homeworks
should take no more than 60&ndash;90 minutes on
average. The goal of the homeworks is to reinforce concepts introduced in class.</p>

{% assign anchor_text="Exams (30%)" %}
{% assign anchor_name="syllabus-advanced" %}
{% assign anchor_html_entity="h3" %}
{% include anchor.html %}

<p>This class will hold a midterm at the end of week 3, and a final at the end
of week 6. The final will be comprehensive, but will focus on the second half
of the course. The tests will be in the same style as the quizzes and homeworks,
and are meant to ensure that you can retain the skills learned in this course.</p>

{% assign anchor_text="Academic Integrity" %}
{% assign anchor_name="syllabus-integrity" %}
{% assign anchor_html_entity="h2" %}
{% include anchor.html %}

<p>Academic integrity at UCSD is governed by the Policy on Integrity
of Scholarship. Allegations of academic misconduct are handled by the
Academic Integrity Office. Cheating will not be tolerated, and any
student who engages in forbidden conduct will be subjected to the
disciplinary process. The course penalty assessed for any cheating in
CSE 80 is a failing course grade. Cheaters may additionally be
subject to administrative sanctions.
</p>

<p>
Any attempt at circumventing the autograder will be considered cheating.
</p>

{% assign anchor_text="Acceptable Resources" %}
{% assign anchor_name="syllabus-acceptable-use" %}
{% assign anchor_html_entity="h3" %}
{% include anchor.html %}
<p>
During in-class assignments the only acceptable references are the
instructors, TA, manual pages, or other command-line-based reference material.
Googling, StackOverflow, etc. is not permitted.
</p>
<p>
For out of class assignments we <b>strongly</b> encourage students to stick
to the same restrictions. However, using Google to search for
additional information is permitted. Copy-pasting, or verbatim
retyping, from an online source is considered cheating. If you
reference an online source be 100% sure you understand the material
you are using from it. If we have concerns about a submitted
assignment's origins we may ask you to explain each step of the
assignment in person to an instructor or TA.
</p>

{% assign anchor_text="Collaboration and Sharing Code" %}
{% assign anchor_name="syllabus-collaboration" %}
{% assign anchor_html_entity="h3" %}
{% include anchor.html %}
<p>
Knowing what is and is not appropriate information to share in this class is
especially tricky because of the type of material covered in this class (i.e.
part of this class covers how to find answers on your own). We encourage you to
ask either instructor or the TA rather than asking each other for help.
</p>
<p>
While we encourage the use of version control, posting of any class materials on
a public repository (such as on GitHub) will be considered an academic integrity
violation, as you are providing your work as a resource to others.
</p>
