{% if page.sectionHeader %}
  <tr class="syllabus-section-header">
    <td colspan="4">{{ page.sectionHeader }}</td>
  </tr>
{% endif %}
<tr>
  <th class="week">Lecture&nbsp;{{ page.week }}</th>
  <td>{{ page.dates }}</td>
  <td rowspan="3">
    <strong>{{ page.title | markdownify }}</strong>
    {% if page.lectureTopics %}
      <p>Lecture</p>
      <ul>
        {% for topic in page.lectureTopics %}
          {% if topic.sub %}
            <ul><li>{{ topic.sub }}</li></ul>
          {% else %}
            <li>{{ topic }}</li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
    {% if page.advancedTopics %}
      <p>Advanced</p>
      <ul>
        {% for topic in page.advancedTopics %}
          {% if topic.sub %}
            <ul><li>{{ topic.sub }}</li></ul>
          {% else %}
            <li>{{ topic }}</li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
  </td>
  <td rowspan="3">
    {% if page.lectureSummary %}
      {{ page.lectureSummary | markdownify }}
    {% endif %}
    {% if page.slidesName %}
      <p>
      <a href="lectures/{{ page.slidesName }}">Slides</a>
      <a href="lectures/{{ page.slidesName }}.pdf">[pdf]</a>
      </p>
    {% endif %}
    {% if page.commands %}
      <hr />
      {% for command in page.commands %}
        {%if command.name %}
          <a href="commands/{{ command.link }}">{{ command.name }}</a>
        {% else %}
          <a href="commands/{{ command }}">{{ command }}</a>
        {% endif %}
        {% unless forloop.last %}
          &#x25cf;
        {% endunless %}
      {% endfor %}
    {% endif %}
  </td>
</tr>
<tr>
  <!--td colspan="2">
    {% for lecturer in page.lecturer %}
      <p><em>{{ lecturer }}</em></p>
    {% endfor %}
  </td-->
</tr>
<tr>
  <td colspan="2" class="syllabus-homework">
    {% if page.homeworkRelease %}
      {% assign now = 'now' | date: '%s' | times: 1 %}
      {% assign homeworkRelease = page.homeworkRelease | date: '%s' | times: 1 %}
      {% if now > homeworkRelease %}
        <p>Homework&nbsp;{{ page.week }}</p>
        <p>Due: {{ page.solutionRelease | date: '%a %b %-d, %l:%M%P' }}</p>
        <ul>
          {% for topic in page.homeworkTopics %}
            {% if topic.sub %}
              <ul><li>{{ topic.sub }}</li></ul>
            {% else %}
              <li>{{ topic }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      {% else %}
        <p>Homework&nbsp;{{ page.week }}</p>
        <p>Out: {{ page.homeworkRelease | date: '%a %b %-d, %l:%M%P' }} <br />
        Due: {{ page.solutionRelease | date: '%a %b %-d, %l:%M%P' }}</p>
      {% endif %}
      {% if page.advancedRelease %}
        {% assign advancedRelease = page.advancedRelease | date: '%s' | times: 1 %}
        {% if now > advancedRelease %}
          <p><a href="/static/{{ page.categories }}/advanced/c4cs-wk{{ page.week }}-advanced.pdf">Advanced&nbsp;Exercise&nbsp;{{ page.week }}</a></p>
          <!--<p><a href="/static/{{ page.categories }}/advanced/c4cs-wk{{ page.week }}-advanced.tex">Advanced&nbsp;Exercise&nbsp;{{ page.week }} [tex]</a></p>-->
        {% endif %}
      {% endif %}
      {% if page.solutionRelease %}
        {% assign solutionRelease = page.solutionRelease | date: '%s' | times: 1 %}
        {% if now > solutionRelease %}
          <hr />
          <p><a href="/static/{{ page.categories }}/solutions/c4cs-wk{{ page.week }}-solutions.pdf">Solutions&nbsp;{{ page.week }}</a></p>
        {% endif %}
      {% endif %}
    {% else %}
      <p>No homework!</p>
    {% endif %}
  </td>
</tr>
